header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
}
body{
    margin: 0px;
    background-image: url(../images/pattern.webp);
    background-repeat: no-repeat;
    background-size: 1920px 800px;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
li{
    display: inline;
}
section{
    background-color: aliceblue;
    padding: 30px;
    margin: 100px 100px 30px;
}
article{
    border-bottom: 2px solid black;
    margin-top: 10px;
}