body {
    font-family: 'forte';
    background:coral;
    margin:0;
    color:black;
}

a {
    text-decoration:none;
    color:black;
    font-size:1.8em;
    font-weight:700;
}
header {
    background:#F0F8FF;
    padding: 1em;
}